*{
    font:Red Hat Display;
}
.signup-page{
   
   background-image: linear-gradient( #FFC700 0%, #FF00B8 );
}
.signup-container{
    background-color: #312ec5 ;
    border: 1px solid black;
    width:400px;
    height:600px;
    float: right;
    margin: 10%;
}
.signup-form{
    padding: 50px;
}
input {
    display: relative;
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
.form-buttons{
    margin:20px;
}
.button{
    padding: 5px;
    margin: 20px;
}